<div class="wrapper wrapper--padding">
	<div class="wrapper__description">
		<div class="text-block">
			<p class="text-paragraph">
				Томаты на ветке красные (помидоры) - более плотные, яркие и ароматные по сравнению с обычными. Они славятся
				низкой
				калорийностью и высоким содержанием витаминов, клетчатки, пектина и минеральных веществ. В них содержатся
				также
				каротиноиды, кислоты и мощный антиоксидант ликопин.
			</p>
			<p class="text-paragraph">
				Помидор - незаменимый продукт в мировой кулинарии. Он - основа многочисленных соусов, маринадов, кетчупа,
				испанского холодного супа Гаспачо или итальянской закуски Капрезе. С ним делают салаты, его тушат, солят и
				консервируют. Помидоры на веточке особенно красиво смотрятся в запеченном виде.
			</p>
		</div>
		<div class="table-block">
			<div class="table-block__box box">
				<h3 class="box__title">
					Характеристики
				</h3>
				<div class="box__item">
					<div class="box__item--name">
						Страна
					</div>
					<div class="box__item--value">
						Россия
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Поставщик
					</div>
					<div class="box__item--value">
						Фермеры: Наталья и Юрий Лейшан
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Тип упаковки
					</div>
					<div class="box__item--value">
						Крафтовый пакет
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Сертификаты качества
					</div>
					<div class="box__item--value">
						В наличии
					</div>
				</div>
			</div>
			<div class="table-block__box box">
				<h3 class="box__title">
					ПИЩЕВАЯ ЦЕННОСТЬ НА 100Г
				</h3>
				<div class="box__item">
					<div class="box__item--name">
						Энергетическая ценность
					</div>
					<div class="box__item--value">
						18 кКал
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Белки
					</div>
					<div class="box__item--value">
						0.9 г
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Жиры
					</div>
					<div class="box__item--value">
						0.2 г
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Углеводы
					</div>
					<div class="box__item--value">
						3.9 г
					</div>
				</div>
			</div>
			<div class="table-block__box box">
				<h3 class="box__title">
					Условия хранения
				</h3>
				<div class="box__item">
					<div class="box__item--name">
						Срок хранения
					</div>
					<div class="box__item--value">
						7 дней
					</div>
				</div>
				<div class="box__item">
					<div class="box__item--name">
						Температура хранения
					</div>
					<div class="box__item--value">
						от 3 ° до 7 °
					</div>
				</div>
			</div>
		</div>
		@@include('products-block.html')
	</div>
</div>