<nav class="navigation">
	<div class="navigation__list">
		<button class="navigation__button navigation__button--active">
			Описание
		</button>
		<button class="navigation__button">
			Отзывы
		</button>
		<button class="navigation__button">
			Откуда?
		</button>
	</div>
</nav>