<div class="slider slider--padding">
	<h2 class="slider__title">
		С этим товаром покупают
	</h2>
	<!-- Slider main container -->
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="@img/slider/1.png" alt="Молоко">
					</div>
					<div class="slide-container__title">
						Молоко 3,2 %
					</div>
					<div class="slide-container__description">
						от Вадима Рошки
					</div>
					<div class="slide-container__row slider-row">
						<div class="slide-row__left">
							<span class='bold-type'>95 ₽</span> / 0,93 л
						</div>
						<div class="slide-row__right">
							<button class="button-bascet">
								<img src="@img/icons/shopping-cart.png" alt="Корзина">
							</button>
						</div>
					</div>
					<div class="slide-container__item">
						<span class="star star-yellow">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="@img/slider/2.png" alt="Молоко">
					</div>
					<div class="slide-container__title">
						Хлеб пшеничный
					</div>
					<div class="slide-container__description">
						от Дарьи и Марии
					</div>
					<div class="slide-container__row slider-row">
						<div class="slide-row__left">
							<span class='bold-type'>95 ₽</span> / 930 г
						</div>
						<div class="slide-row__right">
							<button class="button-bascet">
								<img src="@img/icons/shopping-cart.png" alt="Корзина">
							</button>
						</div>
					</div>
					<div class="slide-container__item">
						<span class="star star-yellow">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="@img/slider/3.png" alt="Молоко">
					</div>
					<div class="slide-container__title">
						Яйца куриные
					</div>
					<div class="slide-container__description">
						от Евгения Рошаль
					</div>
					<div class="slide-container__row slider-row">
						<div class="slide-row__left">
							<span class='bold-type'>120 ₽</span> / 10 шт
						</div>
						<div class="slide-row__right">
							<button class="button-bascet">
								<img src="@img/icons/shopping-cart.png" alt="Корзина">
							</button>
						</div>
					</div>
					<div class="slide-container__item">
						<span class="star star-yellow">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
						<span class="star  ">&#9733;</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="@img/slider/4.png" alt="Молоко">
					</div>
					<div class="slide-container__title">
						Масло сливочное 82 %
					</div>
					<div class="slide-container__description">
						от Вадима Рошки
					</div>
					<div class="slide-container__row slider-row">
						<div class="slide-row__left">
							<span class='bold-type'>290 ₽</span> / 250 г
						</div>
						<div class="slide-row__right">
							<button class="button-bascet">
								<img src="@img/icons/shopping-cart.png" alt="Корзина">
							</button>
						</div>
					</div>
					<div class="slide-container__item">
						<span class="star star-yellow">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
						<span class="star">&#9733;</span>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
</div>