<div class="wrapper wrapper--padding _hide">
	<div class="wrapper__review">
		<div class="text-block">
			<p class="text-paragraph">
				Помогите нам стать ещё лучше. Оставляя отзывы, вы таким образом указываете нам на зоны роста. Мы правда,
				читаем
				все отзывы.
			</p>
		</div>
		<button class="button button__green">
			Оставить отзыв
		</button>
	</div>
</div>