<div class="wrapper wrapper--padding _hide">
	<div class="wrapper__where">
		<div class="text-block">
			<p class="text-paragraph">
				Томаты на ветке красные (помидоры) - более плотные, яркие и ароматные по сравнению с обычными. Они славятся
				низкой
				калорийностью и высоким содержанием витаминов, клетчатки, пектина и минеральных веществ. В них содержатся
				также
				каротиноиды, кислоты и мощный антиоксидант ликопин.
			</p>
			<p class="text-paragraph">
				Помидор - незаменимый продукт в мировой кулинарии. Он - основа многочисленных соусов, маринадов, кетчупа,
				испанского холодного супа Гаспачо или итальянской закуски Капрезе.
			</p>
		</div>
		<div class="image-block">
			<div class="image-block__description _hide">
				Наталья и Юрий Лейшан
			</div>
			<img class="image" src="@img/man.png" alt="Фотография поставщика">
			<div class="button-block">
				<button class="button button__transparent">
					Сертификаты
				</button>
				<button class="button button__transparent">
					О поставщике
				</button>
			</div>
		</div>
	</div>
</div>