.wrapper {
width: 100%;
	&--padding {
		padding: 50px 0 15px 0;
	}
}

@media (max-width: 768px) {
	.wrapper {
		&--padding {
			padding: 25px 0 10px 0;
		}
	}
}


.text-block {
	
	.text-paragraph:not(:last-child) {
		margin-bottom: 20px;
	}

}

.table-block {
	width: 100%;
	margin: 40px 0 55px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;

}

@media (max-width: 768px) {
	.table-block {
		margin: 30px 0 48px 0;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		row-gap: 15px;


	}
}

.box {
	display: flex;
	flex-direction: column;
	flex: 0 0 45%;


		&__title {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.25;
		}

		&__item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			border-bottom: 0.5px solid rgba(178, 178, 178, 0.5);
		}

		&__item:not(:last-child) {
			margin-bottom: 11px;
		}

		&__item--name,
		&__item--value  {
			font-weight: 400;
			font-size: 12px;
			line-height: 167%;
				color: #454343;
		}
}

@media (max-width: 768px) {
	.box {
		flex: 0 0 100%;
		width: 100%;

		&__title {
			margin-bottom: 15px;
			font-size: 15px;
			line-height: 1.33;
		}

		&__item--name,
		&__item--value  {
			font-size: 14px;
			line-height: 143%;
		}
	}
}
