.navigation {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	border-bottom: 0.5px solid #B2B2B2;

	&__button {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.25;
		padding: 0 10px 19px 10px;
		text-transform: uppercase;

		&--active{
			position: relative;
		}

		&--active::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5px;
			border-radius: 3px;
			background-color: #429F3A;
		}

	}

	&__button:not(:last-child) {
		margin-right: 78px;
	}

}

@media (max-width: 768px) {
	.navigation {

		&__list {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__button {
			font-size: 15px;
			line-height: 1.33;
			padding: 0 0 8px 0;
	
			&--active::after{
				height: 3px;
				border-radius: 3px;
			}
	
		}
	
		&__button:not(:last-child) {
			margin-right: 0px;
		}
	
	}
}