/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	font-family: 'Montserrat', sans-serif !important;
	height: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	color: #444444;
}


/* ТЕХНИЧЕСКИЕ КЛАССЫ */

._container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 768px) {
	._container {
		padding: 0 20px;
	}
}

._hide {
	display: none;
}

.button {
	font-weight: 600;
	font-size: 15px;
	line-height: 1.33;
	margin: 15px 0 55px;
	padding: 10px 0;
	width: 100%;
	max-width: 184px;
	border-radius: 5px;
	transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;

	&__green {
		background-color: #429F3A;
		color: #fff;

		&:hover {
			color: #429F3A;
			background-color: #fff;
			transition: color 0.5s ease, background-color 0.5s ease;		
		}
	}

	&__transparent {
		background-color: transparent;
		border: 0.5px solid #444444;
		
		&:hover {
			border: 0.5px solid #429F3A;
			color: #429F3A;
			transition: color 0.5s ease, border 0.5s ease;		
		}
	}
}