.slider {

	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 0.91;
		margin-bottom: 30px;
	}

	&--padding {
		padding-bottom: 20px;
	}

}

@media (max-width:768px) {
	.slider {

		&__title {
			font-size: 18px;
			line-height: 1.11;
			margin-bottom: 25px;
		}
	}
}

.swiper {
	width: 100%;
	padding-bottom: 20px !important;
}
.swiper-wrapper {
	width: 100%;
}
.swiper-slide {
	max-width: 250px;
}
.slide-container {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 9px;
	border: 1px solid #DEDEDE;

	& > *:not(:first-child) {
		padding-left: 12px
	};

	& > *:last-child {
		margin-bottom: 20px;
	}


	&__image {
		object-fit: cover;

		img {
			border-radius: 9px 9px 0 0;
		}
	}

	&__title {
		width: 100%;
		text-align: start;
		margin-top: 14px;
		font-weight: 600;
		line-height: 1.29;
		color: #424141;
	}

	&__description {
		width: 100%;
		text-align: start;
		margin-top: 7px;
		font-size: 12px;
		line-height: 1.5;
		color: #89817F;
	}

	&__row {
		margin-top: 20px;
	}

	&__item {
		width: 100%;
		text-align: start;
		cursor: default;
	}
}
.slider-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bold-type {
	font-weight: 600;
	font-size: 20px;
	line-height: 0.9;
	color:#3D3C3C; 
}

.button-bascet {
	background-color: #429F3A;
	// min-height: 36px;
	padding: 6px 21px;
	border-radius: 36px 0 0 36px;
	transition: background-color ease 0.5s;


	img {
		vertical-align: middle;
	}

	&:hover {
		background-color: #000;
		transition: background-color ease 0.5s;
	}
}



.star {
	font-size: 18px;
	color: grey;
	line-height: 1;
	cursor: pointer;

	&-yellow {
		color: #F9CE1E;
	}
}

