.wrapper {

	&__where {
		display: flex;
		justify-content: space-between;

		.text-block {
			flex: 0 0 47.75%;
			margin-right: 10px;
		}

	}
}

.image-block {
	flex: 0 0 35%;
}

.image {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}

.button-block {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.button:first-child {
		margin-right: 8px;
	}
}

@media (max-width: 768px) {
	.wrapper {

		&__where {
			flex-direction: column;
			justify-content: start;
			align-items: center;
	
			.text-block {
				flex: 0 0 100%;
				margin-right: 0;
				margin-bottom: 17px;
			}
	
		}
	}

	.image-block {
		flex: auto;

		&__description {
			padding-bottom: 17px;
			font-weight: 600;
			font-size: 15px;
			line-height: 1.33;
		}
	}
	
	.image {
		width: 100%;
		object-fit: cover;
		border-radius: 5px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	}

}